.mainPanel{
    width: 100%;
    height: 100%;

}
.tabsNav{
    width: 20%;
    margin: 0 auto auto;
}
.pageHolder{
    width: 100%;
    height: 93.1vh;
    display: flex;
    justify-content: center;
    padding-top: .5vh;
    padding-bottom: .5vh;
}

.pageContent{
    width: 79%;
    height: 100%;
    margin: auto;
    border-left: solid thin rgba(100,100,100,0.5);
}


.botTabsDiv{
    width: 98%;
    color: rgba(200,200,200,0.9);
    margin: auto;
    border-bottom: solid thin #333;
    height: 10vh;
}
.botTabsDiv:hover{
    background-color: rgba(100,100,100,0.2);
    transition: .3s;
}

.botTable{
    width: 100%;
    height: 100%;
}
.botTable td{
    font-family: "Arial Black",sans-serif;

    cursor: pointer;
}
.iconBot{
    width: 15%;
    text-align: right;
    font-size: 2vw;
}
.labelBot{
    font-size: 1vw;
    text-align: left;
    width: 85%;
    text-indent: 1vw;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}
.labelAdmin{
    font-size: 1.3vw;
    font-family: "Arial Black",sans-serif;
    color: #999;
    margin: auto;
    width: fit-content;
}
