@media only screen and (min-device-width: 320px) and (max-device-width: 1000px) {
    body {
        height: 100vh;
        width: 100vw;
        font-size: 16px;
    }
    .LoginPanel{
        width: 100vw;
        height: 100%;
        background-color: transparent;
        padding-top: 2vh;
        box-shadow: none;
    }
    .logInDiv{
        height: fit-content;
    }
    .logoTable{
        height: 15vh;
        width: 95%;
        margin-top: 5vh;
    }
    .schlName{
        font-size: 6vw;
    }
    .schlDet{
        font-size: 4vw;
    }
    .logTable{
        width: 98%;
        margin: auto;
        height: fit-content;
    }
    .logTable td{
        width: 100%;
        height: fit-content;
    }
    .logTable{
        text-align: center;
        border-collapse: collapse;
    }
    .icon{
        display: none;
    }
    .selectUser{
        width: 100%;
        margin: auto;
        font-size: 7vw;
        height: 70px;
        font-weight: bolder;
    }
    .logInput{
        width: 98%;
        font-size: 7vw;
        height: 70px;
    }
    .submitLog{
        font-size: 12vw;
        height: 70px;
        font-family: Impact,sans-serif;
        font-weight: bolder;
    }
    .butDiv{
        font-size: 7vw;
        color: ghostwhite;
        margin: 5vh auto;
        font-weight: bolder;
    }
    .labelTDSign{
        font-size: 5vw;
        font-weight: bolder;
        margin-top: 20px;
    }
    .selectSign{
        height: 70px;
        font-size: 5vw;
    }
    .signInput{
        font-size: 5vw;
        height: 70px;
    }
    .signIn{
        overflow-y: auto;
        height: 60vh;
    }
    .submit{
        height: 12vh;
        font-size: 7vw;
        font-weight: bolder;
    }
    .sign{
        margin-top: 10px;
    }


}
