.mainButton{

    background-color: rgba(0,0,0,0.3);

    color: #888;

    font-size: 1.3vw;

}

.mainButton:hover{

    background-color: rgba(0,0,0,0.4);

    color: deepskyblue;

    transition: .3s;

}

.activeStaffBot{

    background-color: rgba(0,0,0,0.6);

    color: #bbb;

    text-shadow: 0 0 .4vw black;

    font-size: 1.4vw;

    pointer-events: none;

}



.searchInput{

    width: 10vw;

}

.searchInput:focus{

    width: 20vw;

    transition: .3s;

}

.comFile{

    width: 95%;

    margin: 1vh auto auto;

    background-color: rgba(100,100,100,0.2);

    border: solid thin #888;

    border-radius: .3vw;

    box-shadow: .2vw .5vh .5vw black;

}

.comFile:hover{

    background-color: rgba(200,200,200,0.2);

    border-color: deepskyblue;

    transition: .3s;

}

.botConFile{

    cursor: pointer;

    color: deepskyblue;

    background-color: rgba(0,0,0,0.3);

}



.botConFile:hover{

    color: black;

    text-shadow: 0 0 .3vw ghostwhite;

     background-color: rgba(0,0,0,0.7);

    transition: .3s;

}

.botConFile:active{

    background-color: rgba(5,5,5,0.5);

}

.closeCont:hover{

    background-color: rgba(0,0,0,0.2);

    transition: .3s;

}

.uploadDiv{

    background-color: rgba(0,0,0,0.2);

    cursor: pointer;

    border:solid thin deepskyblue;

    margin: 1vh auto;

}

.uploadDiv:hover{

    background-color: rgba(0,0,0,0.5);

}

.burger{

    width: .1vw;

    display: none;

}

.showStateHide{

    width: 30vw;

    display: block;

    transition: .3s;

    animation: showMenu .3s;

}

@keyframes showMenu {

    from{

        width: .1vw;

        display: block;

        opacity: 0;

    }

    to{

        width: 30vw;

    }

}

.barmenu{

    color: deepskyblue;

}

.barmenu:hover{

    background-color: #333;

    box-shadow:0 0 .2vw black;

}

.endorseIncoming{

    background-color: #555;

    cursor: pointer;

}

.endorseIncoming:hover{

    background-color: #333;

    border: solid thin deepskyblue;

}

.endorseIncoming:focus{

    border-color: deepskyblue;

}

.botRes{

    background-color: #555;

}

.botRes:hover{

    background-color: #444;

    border: solid thin deepskyblue;

    transition: .3s;

}

.botControllStaff{

    background-color: #222;

    cursor: pointer;

}

.botControllStaff:hover{

    background-color: #111;

}

.resFilist{

    background-color: #444;

}

.resFilist:hover{

    background-color: rgba(0,0,0,0.2);

    border: solid thin lightskyblue;

    transition: .3s;

}

.botMe{

    color: deepskyblue;

    border-radius: .5vw;

}

.botMe:hover{

    background-color:black;

    color: black;

    text-shadow: 0 0 .2vw ghostwhite;

    transition: .3s;

}

.delRecBot{

    height: 100%;

}

.delRecBot:hover{

    background-color: #333;

    transition: .3s;

}

.delRecBot:active{

    background-color: #444;

    transition: .3s;

}



.printAllReload:hover{

    background-color: #333;

    transition: .3s;

    color: deepskyblue;

}

.resBotCan{

    color: deepskyblue;

}

.resBotCan:hover{

    background-color: rgba(0,0,0,0.2);

    color:black;

    text-shadow: 0 0 .3vw ghostwhite;



    transition: .3s;

}

.exitView{

    color: #888;

    border-radius: .5vw;

}

.exitView:hover{

    background-color: rgba(0,0,0,0.4 );

    color: deepskyblue;

    transition: .3s;

}

.botPr{

    color: #999;

    font-size: 1vw;

    font-family:"Arial Black",sans-serif;

}

.botPr:hover{

    color: deepskyblue;

    background-color: rgba(0,0,0,0.4);

}

.endorsFile{

    background-color: #444;

    color: #bbb;

    cursor: pointer;

}

.endorsFile:hover{

    transition: .3s;

    background-color: #222;



    color: ghostwhite;

}

.resPop{

    animation: popUp 1s;

}

@keyframes  popUp{

    from{

        opacity: 0;

    }

    to{

        opacity: 1;

    }

}

.saveBotEn{

    background-color: #555;

    color: #bbb;



}

.saveBotEn:hover{

    background-color: #222;

    transition: .3s;

    color: deepskyblue;

}