.accountList{
    height: 100%;
    width: 100%;
}
.accountTabsTable{
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    height: 5vh;
    margin: 0 auto auto 0;
}
.tabsAccount{
    border-bottom: solid thin rgba(0,0,0,0.5);
    padding-left: 1vw;
    padding-right: 1vw;
    width: 10vw;
    white-space: nowrap;
    cursor: pointer;
    font-family: Arial,sans-serif;
    font-size: 1vw;
    font-weight: bolder;
    border-radius: .5vw .5vw 0 0;
    color: #999;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.9));
    text-align: center;
}
.tabsAccount:hover{
    background-color: rgba(100,100,100,0.4);
    color: ghostwhite;
    border-radius: .5vw .5vw 0 0;
    transition: .3s;
}
.tabsAccountActive{
    background-image: linear-gradient(black,transparent);
    border-radius: .5vw .5vw 0 0;
    color: deepskyblue;
    pointer-events: none;
    border:none;
}


.extend{
    border-bottom: solid thin rgba(0,0,0,0.5);
    width: auto;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.9));
}
.expandTD{
    width: 100%;
}
.capAccPage{
    width: 100%;
    height: 98%;
    padding-top: .5%;
}

.pageFrameAdmin{
    width: 100%;
    height: 95%;
}
.tapBar{
    width: 95%;
    margin: auto;
    border-collapse: separate;
    table-layout: auto;
    height: 4vh;
}

.searchTd
{
    color: deepskyblue;
    font-size: 1.3vw;
    background-color: rgba(0,0,0,0.3);
    height: 4vh;
    white-space: nowrap;
    border-radius: .5vw;
}

.inpuTDsearch{
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: .5vw;
    padding-right: .5vw;
    width: 10vw;
    margin-left: 1vw;
    font-size: 1vw;
    color: #bbb;
}
.inpuTDsearch:focus{
    width: 20vw;
    animation: expandSearch .3s;
}

@keyframes expandSearch {
    from{
        width: 10vw;
    }
    to{
        width: 20vw;
    }
}
.selectSort{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1vw;
    color: #bbb;
}

.selectSort option{
    color: black;
    background-color: grey;
}

.listDiv{
    width: 98%;
    height: 85%;
    background-color: rgba(0,0,0,0.1);
    margin:auto;
    overflow-y: auto;

}

.listHead{
    width: 95%;
    height: 5vh;
    background-color: rgba(100,100,100,0.4);
    margin: auto;
}
.listHead td{
    text-align: left;
}

.listTable{
    width: 98%;
    height: fit-content;
    margin: 1vh auto;
    cursor: pointer;
}
.listTable:hover{
    background-color: rgba(0,0,0,0.3);
    transition: .3s;
}
.listTable td{
    font-size: 1vw;
    font-family: Arial,sans-serif;
    font-weight: bolder;
    color: #ccc;
}
.listUserName{
    width: 20%;
}
.listFullName{
    width: 40%;
}
.listEmail{
    width: 30%;
}

.space{
    margin: auto;
    padding-left: 2vw;
}
.hed{
    font-size: 1.1vw;
    font-family: Arial,sans-serif;
    font-weight: bolder;
    color: #999;
}
.deleteList{
     width: 10%;
     color: deepskyblue;
     display: flex;
     text-align: center;
 }
.delI{
    font-size: 1.5vw;
}

.delI:hover{
    color: deepskyblue;
}

.listEvalTab{
    width: 100%;
    margin: 1vh auto;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
}

.listEvalTab:hover{
    background-color: rgba(0,0,0,0.6);
    transition: .3s;
}
.delBotEval{
    width: 10%;
    text-align: center;
}
.delBotEval:hover{
    background-color: black;
}
.deleteEval{
    width: 100%;
    text-align: center;
    color: deepskyblue;
    font-size: 1vw;
    height: 100%;
}

.deleteEval:hover{
    color: black;
    text-shadow: 0 0 .3vw white;
}
.listRde{
    background-color: rgba(0,0,0,0.2);
    color: #bbb;
}
.listRde:hover{
    background-color: rgba(0,0,0,0.5);
}

.backRdeAc{
    border-bottom: solid thin #999;
    color: #999;
    cursor: pointer;
}

.backRdeAc:hover{
    color: deepskyblue;
    border-bottom: solid thin deepskyblue;
    transition: .3s;
}
.openDet{
    color: #999;
    cursor: pointer;
}
.openDet:hover{
    color: deepskyblue;
    transition: .3s;
}
.acListCap{
    color: #bbb;
}
.acListCap:hover{
    background-color: rgba(100,100,100,0.2);
    color: deepskyblue;
    transition: .3s;
}