.inputEv{
    background-color: transparent;
    background-image: linear-gradient(bottom left, rgba(0,0,0,0.1),rgba(0,0,0,0.3));
    border-radius: 0 .5vw .5vw 0;
}
.inputEv:focus{
    background-color: rgba(0,0,0,0.3);
}
.eventDet{
    background-color: #444;
}

.statusEv{
    color: deepskyblue;
}
.statusEv:hover{
    color: ghostwhite;
    background-color: black;
    text-shadow: 0 0 .2rem ghostwhite;
}
.delEv{
    color: deepskyblue;
}
.delEv:hover{
    color: black;
    text-shadow: 0 0 .2vw ghostwhite;
}
.deadDate{
    color: deepskyblue;
}
.deadDate:hover{
    color: ghostwhite;
}
input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}
.sub{
    color: deepskyblue;
    cursor: pointer;
    background-color: #444;
}
.sub:hover{
    color: lightblue;
    background-color: #222;
}
.subEv{
    color: deepskyblue;
    width:50%;
    margin: auto;
    border-radius:.5vw;
}
.subEv:hover{
    background-color:rgba(0,0,0,0.3);
    transition:.3s;
}
.subEv:active{
    background-color:rgba(0,0,0,0.5);
    transition:.3s;
}