.ResearchPaperPanel{
    height: 100%;
    width: 100%;
    background-color: #333333;
    justify-content: center;
    display: flex;
}
.allowedPanel{
    margin: auto;
    width: 37%;
    height: 98%;
}
.researchListPanel{
    margin: auto;
    width: 62%;
    height: 98%;
    border-left: solid thin rgba(200,200,200,0.2);
}
.accountListResAcc{
    width: 98%;
    height: 85%;
    margin: 1vh auto auto;
    overflow-y: auto;
}
.tableListAdminRes{
    width: 98%;
    margin:1vh auto auto;
    background-color: rgba(100,100,100,0.5);
    table-layout: auto;
    border-radius: 1vw;

}

.tableListAdminRes:hover{
    background-color: rgba(0,0,0,0.5);
}

.labelList{
    width: fit-content;
    color: rgba(200,200,200,0.4);
    font-family: Arial,sans-serif;
    font-weight: bolder;
    font-size: 1vw;
}
.dataListT{
    width: 100%;
    color: rgba(255,255,255,0.6);
    font-family: Arial,sans-serif;
    font-size: 1vw;

}
.controlSubfileAd{
    text-align: center;
}

.controlSubfileAd div,.controlSubfileAd a{
    display: inline-block;
    width: 20%;
    margin: auto 1vw;
    font-family: "Arial Black",sans-serif;
    font-size: 1.2vw;
    color: deepskyblue;
    cursor: pointer;
    border-bottom: solid thin deepskyblue;
    border-radius: 1vw 1vw 0 0 ;

}
.controlSubfileAd div:hover,.controlSubfileAd a:hover{
    background-color: rgba(0,0,0,0.5);
    color: black;
    text-shadow: 0 0 .5vw ghostwhite;
    box-shadow: 0 -.1vh .3vh ghostwhite;
    transition: .5s;
}
.iframeViewRes{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
}
.viewerOb{
    margin: auto;
    width: 80%;
    height: 97%;
}
