.reviewDiv{
    width: 60%;
    margin: auto;
    height: fit-content;
    overflow-y: auto;
    background-color: white;
    padding: 1cm;
}
.reviewHeader{
    height: fit-content;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}
.imgHeader{
    width: 100%;
    height: 100%;
}
.bodyRev{
    height: 100vh;
    width: 100%;
}
.infoTable{
    width: 100%;

}
.infoTable td{
    font-family:  "Times New Roman",  sans-serif;
    font-size: 12pt;
}
.lebInfo{
    width: fit-content;
    font-weight: bolder;
}
.dataInfo{
    width: 100%;
}
.perCom{
    width: 100%;
}
.perCom td{
    font-family:  "Times New Roman",  sans-serif;
    font-size: 12pt;
}
.comLebRow{
    text-align: left;
    font-weight: bolder;

}
.comDetRow{
    font-weight:normal;
    text-align: justify;
    border-bottom: solid thin black;
}
.nameRow{
    font-size: 13vw;
    font-weight: bolder;
}
.CloseViewBot{
     font-size: 1.3vw;
    font-family: "Arial Black",sans-serif;
    color: deepskyblue;
    text-align: center;
    width: 4vw;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 2vh;
    cursor: pointer;
    border: solid thin ghostwhite;
    background-color: rgb(100,100,100);
}
.PrintViewBot{
    background-color: rgb(100,100,100);
    font-size: 1.3vw;
    font-family: "Arial Black",sans-serif;
    color: deepskyblue;
    text-align: center;
    width: 4vw;
    padding: 1rem;
    position: absolute;
    right: 0;
    border: solid thin ghostwhite;
    top: 15vh;
    cursor: pointer;
}
.CloseViewBot:hover,.PrintViewBot:hover{
     color: black;
    text-shadow: 0 0 .3vw ghostwhite;
    background-color: rgb(50,50,50);
}
.commentPDF{
    min-height: 11in;
}

@page  {
    margin: 1px;
    size: letter;
}

@media print {
    body,html{
        height: auto;
        margin: 0;
    }
    body*{
        visibility: hidden;
    }

    .reviewDiv,.reviewDiv*{
        visibility: visible;
        margin: 1px;
        width: 100%;
        min-height: 8in;
        overflow-y: visible;
        table-layout: fixed;
        position: absolute;
        left: 0;
        top: 0;
    }
    .reviewDiv{
        display: block;
        width: auto;
        height: auto;
        overflow: visible;
    }
    .CloseViewBot,.PrintViewBot{
        display: none;
    }
    .reviewHeader{
        height: 5%;
        width: 100%;
    }
    .imgHeader{
        height: 100%;
    }

    .breaker{
        clear: both;
        page-break-after: always;
    }

}
