.filesPdf{
    cursor: pointer;
    float: left;
    margin: .5rem;
    padding: .5rem;
    background-color: #555;
    box-shadow:0 0 .8vw black ;
    border-radius: 1vw;
    width: 13vw;
    height: 19vh;
    text-align: center;
}

.filesPdf:hover{
    color: #888;
    background-color: #222;
    transition: .5s;

}
.tabBarDoc{
    color: ghostwhite;
    border-radius: .5vw .5vw 0 0;
}
.tabBarDoc:hover{
    background-color: rgba(0,0,0,0.6);
    transition: .3s;
}
.activeDocTab{
    background-color: rgba(0,0,0,0.4);
    pointer-events: none;
    color: deepskyblue;
}

.contentFileText{
    height: 50%;
    font-family: monospace;
    font-size: 1vw;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #ddd;
}
.contentFileText:hover{
    overflow: unset;
    transition: .3s;
}
.comListClas{
    background-color:#333;
    color:#999;
}
.comListClas:hover{
    background-color:#222;
    color:deepskyblue;
    transition: .3s;
}