.researchPanel{
    width: 100%;
    height: 100%;

}

.tabsHeader{
    height: 6%;
    width: 100%;
    background-image: linear-gradient(transparent,black);
    table-layout: auto;
    border-collapse: collapse;
}

.tabsres{
    width: 15vw;
    text-align: center;
    color: ghostwhite;
    font-weight: bolder;
    font-family: Arial,sans-serif;
    font-size: 1.1vw;
    cursor: pointer;
    border-radius: 1vw 1vw 0 0;
}
.tabActive{
    color: deepskyblue;
    background-image:  linear-gradient(black,#333333);
    pointer-events: none;
}

.tabFrame{
    width: 100%;
    height: 94%;
    background-color: #333;
    display: flex;
    justify-content: center;
}
.createPan{
    width: 98%;
    height: 99%;
    margin: 1vh auto auto;
    overflow-y: auto;
    padding-right: 1vw;
    padding-left: 1vw;
}
.sumittedPan{
    width: 98%;
    background-color: transparent;
}

.contentSup{
    width: 95%;
    margin: auto;
    border-collapse: collapse;
    height: fit-content;
    table-layout: auto;
}

.labelRes{
    font-family: "Arial Black",sans-serif;
    font-size: 1.3vw;
    color: #777;
    padding-top: 3vh;
    width: 9vw;
}
.req{
    padding-top: 3vh;
    width: auto;
    text-align: left;
    font-size: .9vw;

    font-family: "Arial Black",sans-serif;
    color: #999;
}
.selectCatRes{
    font-size: 1.2vw;
    font-family: Arial,sans-serif;
    font-weight: bolder;
    background-color: rgba(0,0,0,0.2);
    color: #999;
    outline: none;
    border: solid thin #555;
    padding: .2rem;
    border-radius: .5vw;
}

.selectCatRes option{
    background-color: grey;
    color: black;
}




.titleRes{
    font-size: 1.1vw;
    font-family: Arial,sans-serif;
    font-weight: bolder;
    background-color: rgba(0,0,0,0.2);
    color: #999;
    outline: none;
    border: solid thin #555;
    border-radius: .5vw;
    width: 90%;
    resize: none;
    padding: 1vh;
    min-height: 2.5vh;
    line-height: 2.5vh;
}


.authorRes{
    font-size: 1.2vw;
    font-family: Arial,sans-serif;
    font-weight: bolder;
    background-color: rgba(0,0,0,0.2);
    color: #999;
    outline: none;
    border: solid thin #555;
    border-radius: .5vw;
    padding: 1vh;
    width: 40vw;
}
.addCoPanel{
    width: 80%;
}
.addBotRes{
    color: ghostwhite;
    font-family: "Arial Black",sans-serif;
    background-color: #555;
    border-radius: 1vw;
    cursor: pointer;
}
.addBotRes:hover{
    background-color: #444;
    color: #777;
    text-shadow: 0 0 .5vw black;
}
.addBotRes:active{
    background-color: #333;
    color: #777;
    text-shadow: 0 0 .5vw black;
}
.addBot{
    color: deepskyblue;
    font-size: 1.1vw;
    cursor: pointer;
    width: fit-content;
}
.lebBHot{
    font-family: "Arial Black",sans-serif;
}

.panelCo{
    width: 65.5%;
    height: fit-content;
    padding-bottom: .5vh;
    border: solid thin #444;
}
.adInputCo{
    background-color: rgba(0,0,0,0.2);
    outline: none;
    margin-left: 1vw;
    margin-bottom: .5vh;
    height: 3.5vh;
    width: 25vw;
    border: solid thin rgba(100,100,100,0.6);
    border-radius: .5vw;
    padding-left: .5vw;
    padding-right: .5vw;
    color: #999;
    font-size: 1.1vw;
    font-family: Arial,sans-serif;
}
.nameCoList{
    width: 100%;
    font-family: "Arial Black",sans-serif;

}
.nameListCo{
    width: 80%;
    color: #999;
}
.removeCon{
    width: 20%;
    color: deepskyblue;
}
.uploadTable{
    width: 52.5%;
    border-collapse: separate;
    border-spacing: 1vh;
    border: solid thin #444;
}
.uploadTable td{
    height: 4vh;

}
.upIn{
    width: auto;
    border-bottom: solid thin grey;
    position: relative;
    color: ghostwhite;
    font-size: 1vw;
    font-family: Arial,sans-serif;
    text-align: center;
    cursor: pointer;
}

.upLeb{
    width: 15vw;
    text-align: right;
    font-family: Arial,sans-serif;
    color: deepskyblue;
    font-weight: bolder;
    font-size: 1.3vw;

}
.fileInputUp{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    opacity: 0;
    z-index: 5;
    cursor: pointer;
}
.upIn:hover{
    background-color: rgba(0,0,0,0.2);
    color: deepskyblue;
}
.resB{
    text-align: center;
    font-size: 1.2vw;
    color: deepskyblue;
    cursor: pointer;
}
.resB:hover{
    color: lightskyblue;
    background-color: rgba(0,0,0,0.3);
}
.submitRes{
    text-align: center;
    font-family: "Arial Black",sans-serif;
    color: #999;
    height: 7vh;
    font-weight: bolder;
    cursor: pointer;
    font-size: 2vw;
}
.submitRes:hover{
    color: lightskyblue;
    background-color: rgba(0,0,0,0.3);
}
.contentSup input:hover,.contentSup textarea:hover,.contentSup select:hover{
    border: solid thin deepskyblue;
}
.contentSup input:focus,.contentSup textarea:focus,.contentSup select:focus{
    border: solid thin deepskyblue;
    background-color: rgba(0,0,0,0.4);
    color: #bbbbbb;
}
.fileViewerPanelRes{
    height: 100%;
    width: 100%;
    display: flex;justify-content: center;
    position: relative;
}
.messagePanelRes{
    height: 99%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.listRes{
    background-color: #222;
}
.listRes:hover{
    background-color: rgba(0,0,0,0.7);
}

.viewListRes{
    font-weight: bolder;
    margin: auto;
    color: deepskyblue;
    cursor: pointer;
}
.viewListRes:hover{
    text-shadow: 0 0 .5vw ghostwhite;
    color: black;
}
.delRes{
    color: deepskyblue;
    border-radius: .5vw;
}
.delRes:hover{
    color: black;
    text-shadow: 0 0 .2vw ghostwhite;
}
.delRes:active{
    background-color: rgba(100,100,100,0.5);
}
.searchBoxRes{
    margin: auto;
    height: 5%;
    width: 90%;
    table-layout: auto;
    border-collapse: collapse;
}
.searchBoxTd{
    width: fit-content;
    font-size: 1.5vw;
    text-align: center;
    white-space: nowrap;
    background-color: rgba(0,0,0,0.3);
    border-radius: 1vw;
    padding-left: .5vw;
    color: deepskyblue;

}
.searchInputRes{
    height: 100%;
    width: 15vw;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1vw;
    font-family: monospace;
    font-weight: bolder;
    color: #aaa;
    border-radius: 0 1vw 1vw 0;
    padding-left: .5vw;
    padding-right: .5vw;
}
.searchInputRes:hover{
    background-image: linear-gradient(to right,transparent,rgba(0,0,0,0.5));
}
.searchInputRes:focus{
    background-image: linear-gradient(to right,transparent,rgba(0,0,0,0.5));
    width: 30vw;
    animation: expandRes .3s;
}
@keyframes expandRes {
    from{
        width: 15vw;
    }
    to{
        width: 30vw;
    }
}
.listPRes{
    height: 94%;
    width: 98%;
    margin: 1% auto auto;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.2);

}
.listDiv{
    width: 95%;
    margin: 1vh auto auto;
    height: fit-content;
    padding-left: .5vw;
    padding-right: .5vw;
    border: solid thin rgba(200,200,200,0.3);
    border-radius: .5vw;
}
.listDiv:hover{
    border-color: deepskyblue;
    background-color: rgba(0,0,0,0.3);
}
.r1Table{
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    margin: 1vh auto;
}
.r1TdDateLabel,.r1TDAuthorLabel,.r2categoryLabel,.r2TitleLabel{
    width: fit-content;
    color: lightblue;
    font-size: 1.1vw;
    font-family: Arial,sans-serif;
    font-weight: bolder;
    white-space: nowrap;
    padding-right: 1vw;
}
.r1TDAuthorLabel,.r2categoryLabel{
    padding-left: 4vw;
}

.r1TdDate{
    width: fit-content;
    font-size: 1.1vw;
    font-family: Arial,sans-serif;
    color: #999;
    white-space: nowrap;
    border-bottom: solid thin #888;
}
.r1TDAuthor{
    width: 100%;
    font-size: 1.1vw;
    font-family: Arial,sans-serif;
    color: #999;
    border-bottom: solid thin #888;
    white-space: nowrap;
}

.r2category{
    width: fit-content;
    font-size: 1.1vw;
    font-family: Arial,sans-serif;
    color: #999;
    border-bottom: solid thin #888;
    white-space: nowrap;
}
.r2Title{
    width: 100%;
    font-size: 1.1vw;
    font-family: Arial,sans-serif;
    color: #999;
    border-bottom: solid thin #888;
    white-space: nowrap;
}


.r3Table{
    width: 100%;
    border-collapse: separate;
    table-layout: auto;
    margin: 1vh auto;
    height: 5vh;
    background-color: rgba(200,200,200,0.2);
}
.r3StatusLabel{
    width: fit-content;
    color: rgba(0,0,0,0.5);
    font-size: 1.1vw;
    font-family: "Arial Black",sans-serif;
    font-weight: bolder;
    white-space: nowrap;
    padding-left: 1vw;
}
.reuploadLabel{
    width: 30%;
    color: deepskyblue;
    font-size: 1.1vw;
    font-family: "Arial Black",sans-serif;
    font-weight: bolder;
    white-space: nowrap;
    padding-right: 2vw;
    padding-left: 2vw;
    cursor: pointer;
    text-align: center;

}
.reuploadLabel:hover{
    background-color: rgba(0,0,0,0.2);
    color: ghostwhite;
    text-decoration-line: underline;
}
.frameViewer{
    width: 98%;
    height: 99%;
    margin: auto;
}
.viewerTool{
    position: absolute;
    height: 20%;
    width: 5vw;
    background-color: yellow;
    margin: auto;
    top: 0;
    bottom: 0;
    left: auto;
    right: 2vw;
}
.endorsePan{
    width: 90%;
    margin: auto;
    background-color: transparent;
    border-left: solid thin rgba(100,100,100,0.3);
    border-right: solid thin rgba(100,100,100,0.3);
}
.searchEndorsBox{
    width: 98%;
    height: 5.5%;
    margin:1vh auto auto;
    display: flex;
    justify-content: center;
}
.listContainEndors{
    width: 98%;
    height: 93.2%;
    background-color: rgba(0,0,0,0.3);
    margin: auto;
    overflow-y: auto;
}
.endorseListTable{
    width: 98%;
    cursor: pointer;
    margin: 1vh auto auto;
    background-color: rgba(100,100,100,.5);
    border-radius: .5vw;
}
.endorseListTable:hover{
    background-color: rgba(0,0,0,.3);
}
.allEnTable{
    color: #bbb;
    font-size: 1.1vw;
    font-family: Arial,sans-serif;
    font-weight: bold;
}
.dateEnTable{
    width: 20%;
}
.authorEnTable{
    width: 50%;
}
.categoryEnTable{
    width: 30%;
}

.titleEnTable{
    background-color: rgba(100,100,100,0.6);
}
.endorseLetDiv{
    width:100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.canvasHolder{
    width: fit-content;
    height: 92%;
    overflow: auto;
    margin:1vh auto auto;
    text-align: center;
}
.canvasLetter{
    margin:1vh auto auto;
    width: 100%;
}
.toolBarEndors{
    position: absolute;
    left: 0;
    top: auto;
    bottom: 1vh;
    right: 0;
    height: 5%;
    width: 100%;
    margin: auto;
    background-color: rgba(255,255,255,0.5);
    display: flex;
    justify-content: center;
}
.currentPage{
    width: fit-content;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 100%;
    text-align: center;
    background-color: grey;
    font-size: 2vw;
    font-family: "Arial Black",sans-serif;


}
.canvasButton{
    font-size: 2vw;
    font-family: "Arial Black",sans-serif;
    cursor: pointer;
    font-stretch: extra-expanded;
    width: fit-content;
}
.forward{
    border-radius: .2vw 100% 100% .2vw;
    padding-right: 5vw;
    width: 5vw;
}
.backward{
    border-radius:  100% .2vw .2vw 100% ;
    padding-left: 5vw;
    width: 5vw;
}

.canvasButton:hover{
    text-shadow: 0 0 1vw ghostwhite;
    background-color: black;
    transition: .3s;
}
.canvasButton:active{
    text-shadow: 0 0 1vw ghostwhite;
    background-color: black;
    color: deepskyblue;
}

.closeBotEn{
    color: deepskyblue;
    background-color: black;
    height: fit-content;
    margin: auto auto auto 3vw;
    font-size: 2vw;
    display: flex;
    width: fit-content;
    padding: .2rem 1vw;
    border-radius: .5vw;
    cursor: pointer;
}
.closeBotEn:hover{
    color: black;
    text-shadow: 0 0 .2vw ghostwhite;
}

.saveEn{
    font-size: 2vw;
    font-family: "Arial Black",sans-serif;
    cursor: pointer;
    color: deepskyblue;
    width: fit-content;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: black;
    border-radius: .5vw;
    margin: auto;
    text-decoration: none;
}
.saveEn:hover{
    color: black;
    text-shadow: 0 0 .5vw ghostwhite;
    transition: .3s;
}
.saveEn:active{
    background-color: #222;
    transition: .3s;
}
.searchAll{
    height: 4vh;
    background-color: transparent;
    outline: none;
    padding-left: .5vw;
    border: none;
    width: 10vw;
    font-size: 1vw;
    font-family: monospace;
    color: #bbb;
}
.searchAll:focus{
    width:20vw;
    transition: .3s;
}
.fileAllPer{
    background-color: #555;
    cursor: pointer;
}
.fileAllPer:hover{
    background-color: #333;
}
.fileAllPer:active{
    background-color: #444;
}
.exitAllFile:hover{
    background-color: deepskyblue;
}

.addEnRes{
    color: deepskyblue;
}
.addEnRes:hover{
    color: black;
    text-shadow: 0 0 .2vw ghostwhite;
}
.subEn{
    background-color: #555;
    color: #ddd;
}
.subEn:hover{
    background-color: #444;
    color: #666;
    text-shadow: 0 0 .5vw black;
}
.subEn:active{
    background-color: #333;

}
.cover,.resAtt,.selectEv{
    border: solid thin deepskyblue;
}
.selectEv{
    border: solid thin deepskyblue;
}
.cover:hover,.resAtt:hover,.selectEv:hover{
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 0 .3vw ghostwhite;
}
.viewerBotEndorseMain{
    color: deepskyblue;
    cursor: pointer;
}
.viewerBotEndorseMain:hover{
    color: black;
    text-shadow: 0 0 .4vw ghostwhite;
}
.resHiderclose{
    width: 95%;
    margin-left: auto;
    margin-right: 0;
    height: 0px;
    opacity: 0;
    background-color: rgba(200,200,200,0.1);
    padding: .3rem;
    position: relative;
}
.resHiderOpen{
    margin-left: auto;
    margin-right: 0;
    height: fit-content;
    opacity: 1;
    margin-top: 1vh;
}
.resListInn{
    background-color: transparent;
}
.resListInn:hover{
    background-color: rgba(0,0,0,0.5);
}
.contr,.submitRes{
    color: deepskyblue;
}
.contr:hover,.submitRes:hover{
    color: black;
    text-shadow: 0 0 .4vw ghostwhite;
}
.fileBot{
    color: deepskyblue;
    width: 80%;
    margin: 1vh auto auto;
    height: fit-content;
    text-align: center;
    font-family: "Arial Black",sans-serif;
    font-size: 1vw;
    cursor: pointer;
}
.endorsCnt{
    background-image: radial-gradient( rgba(100,100,100,0.5),black);
    color: deepskyblue;
}
.endorsCnt:hover{
    background-image: radial-gradient( black,rgba(100,100,100,0.3));
    transition: .3s;
    color: black;
    text-shadow: 0 0 .3vw ghostwhite;
}
.listCampEv{
    background-color: #222;
    cursor: pointer;
    font-size: 1.2vw;
}
.listCampEv:hover{
    color: deepskyblue;
    transition: .3s;
    background-color: #111;
}
.campDivBot{
    cursor: pointer;
    color: #bbb;
}
.campDivBot:hover{
    background-color: rgba(0,0,0,0.2);
    color: deepskyblue;
    transition: .3s;
}
.perRes{
    color: #bbb;
    font-size: 1vw;
}
.perRes:hover{
    color: deepskyblue;
    font-size: 1.1vw;
    transition: .3s;
}
.addCo{
    color: deepskyblue;
    border-radius: .5vw;
}
.addCo:hover{
    color: black;
    text-shadow: 0 0 .3vw ghostwhite;
    background-color: black;
}