.settingsDiv {
    width: 100%;
    height: 100%;
}

.tabsSettings {
    height: 6%;
    width: 100%;
    margin: auto;
    table-layout: auto;
    border-collapse: collapse;
}

.settingsFrame {
    height: 94%;
    width: 100%;
    background-color: #333;
}

.settingsBot {
    text-align: center;
    width: 15vw;
    white-space: nowrap;
    font-family: "Arial Black", sans-serif;
    font-size: 1.1vw;
    cursor: pointer;
    color: #bbb;
    border-radius: 1vw 1vw 0 0;
}

.settingsBot:hover {
    background-image: linear-gradient(#333, rgba(0, 0, 0, 0.5));
    color: ghostwhite;
    transition: .5s;
}

.setBotActive {
    color: deepskyblue;
    pointer-events: none;
    background-color: #333;
}


.sigContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.centerCont {
    width: 60%;
    height: 95%;
    border: solid thin ghostwhite;
    margin: auto;
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 1vw;
}

.viewerSig {
    height: 70%;
    width: 80%;
    position: relative;
    top: 3vh;
    bottom: auto;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
}

.sigControl {
    width: 98%;
    margin: auto;
    height: 20vh;
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    background-color: #555;
    bottom: 1vh;
    border-radius: 0 0 1vw 1vw;
}

.tableLayoutSig {
    height: 60%;
    width: 100%;
    table-layout: fixed;
}

.tableLayoutSig td {
    height: 50%;
    position: relative;
}

.uploadPic {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    position: absolute;
    margin: auto;
}

.entryName {
    width: 93%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: .5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size: 16px;
}

.fontSizeSig {
    width: 99%;
    border: none;
    outline: none;
    height: 98%;
    font-size: 1.3vw;
    text-align: center;
}

.imageResize {
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.resizeGuide {
    width: 20%;
    text-align: center;
    margin: auto;
    font-family: "Arial Black", sans-serif;
    color: deepskyblue;
}

.saveSig {
    margin: 2vh auto;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: #777;
    font-family: "Arial Black", sans-serif;
    font-size: 1.3vw;
    border-radius: .5vw;
    cursor: pointer;
}

.sigIm {
    position: absolute;
    top: 50%;
    bottom: auto;
    left: 0;
    right: 0;
    width: fit-content;
    margin: auto;

}

.sigIm:hover {
    cursor: grab;
}

.sigIm:active {
    cursor: grabbing;
}

.baseFont {
    position: absolute;
    top: 60%;
    bottom: auto;
    left: 0;
    right: 0;
    width: 80%;
    margin: auto;
    padding: .5vw;
    text-align: center;
    height: 2vh;
    font-family: "Times New Roman", sans-serif;
    font-weight: bolder;

}

.previewSig {
    width: 30%;
    height: 70%;
    margin: auto;
    background-color: white;
    position: relative;
    border-radius: 1vw;
    border: solid thin;
    box-shadow: -.5vw -.5vh .5vw black, .5vw .5vh .5vw gray;
}

.previewSig td {
    text-align: center;
}

.prevSig {
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.esign {
    font-size: 1.3vw;
    font-family: "Arial Black", sans-serif;
}


.userInfoDiv {
    height: 100%;
    display: flex;
    justify-content: center;
}

.leftUserInfo {
    height: 98%;
    width: 49%;

    margin: auto;
    position: relative;
}



.perInfo {
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin: 2vh auto;
    width: 98%;
    border: solid thin deepskyblue;
    border-radius: .5vw;
    display: flex;
    justify-content: center;
}

.detUser {
    font-family: Arial, sans-serif;
    font-weight: bolder;
}

.pointerUser {
    cursor: pointer;
}

.pointerUser:hover {
    color: black;
    background-color: deepskyblue;
    text-shadow: 0 0 1vw black;
    box-shadow: 0 0 .3vw ghostwhite;
}

.pointerUser:active {
    font-size: 2.1vw;
}

.tableUser {
    height: 100%;
    width: 100%;
}

.tableUser td {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size: 1.2vw;
}

.editUserDiv {
    height: 100%;
    width: 100%;
    background-color: rgba(100, 100, 100, 0.8);
    position: absolute;
    top: 0;
    animation: editAnim .3s;
    display: flex;
    justify-content: center;
}

@keyframes editAnim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.closeBotUser {
    padding: .5vh .5vw;
    text-align: center;
    background-color: transparent;
    border-radius: 1vw;
    position: absolute;
    right: .5vw;
    color: deepskyblue;
    top: .5vh;

    cursor: pointer;
    font-size: 1.4vw;
}

.closeBotUser:hover {
    color: black;
    background-color: black;
    text-shadow: 0 0 .3vw ghostwhite;
}

.fieldEditor {
    margin: auto;
    background-color: #333;
    border-radius: 1vw;
    border: solid thin deepskyblue;
    padding: .5rem;
}

.nameField {
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.3);
    height: 4vh;
    font-size: 1.2vw;
    width: 30vw;
    color: #aaa;
    text-align: center;
}

.nameField:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.nameField:focus {
    background-color: rgba(0, 0, 0, 0.5);
}

.saveDivEdit {
    width: fit-content;
    padding-left: 1vw;
    padding-right: 1vw;
    font-family: "Arial Black", sans-serif;
    font-size: 1.5vw;
    margin: auto;
    color: deepskyblue;
    cursor: pointer;
    border-radius: 1vw;
}

.saveDivEdit:hover {
    background-color: black;
    color: black;
    text-shadow: 0 0 .5vw ghostwhite;
}

.saveDivEdit:active {
    border: solid thin deepskyblue;
}



.rightUserInfo {
    height: 98%;
    width: 49%;
    margin: auto;
    border-left: solid thin #bbbbbb;
    position: relative;
}

.rightLabel {
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 1vh;
    font-size: 1.4vw;
    color: rgba(200, 200, 200, 0.6);
}
.userLabel{
     font-family:Arial,sans-serif;
    font-weight: bolder;
    color: deepskyblue;
    margin:10vh auto;
    font-size: 1.4vw;
}



.rightClass{
    color: #999;
    font-size: 1.2vw;
    font-family: "Arial Black",sans-serif;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0 2vh;
}
.rightClass td{
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: left;
}
.trBot:hover{
    color: deepskyblue;
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
}
.trBot:active{
    background-color: rgba(0,0,0,0.4);
    color: lightskyblue;
}
.editorCont{
    position: absolute;
    top: 0;
    width: 99%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.8);
    display: flex;
    justify-content: center;
}
.closeRight{
    font-size:2vw;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}
.closeRight:hover{
    color: deepskyblue;
}
.closeRight:active{
    color: lightskyblue;
}
.divUser{
    width: 90%;
    height: 5vh;
    margin: auto;
}
.editConField{
    width: 95%;
    padding-top: 5vh;
    background-color: #333;
    border: solid thin deepskyblue;
    margin: auto;
}
.userEdit{
    height: 5vh;
    width: 90%;
    margin: auto;
    background-color: rgba(0,0,0,0.3);
}
.saveBotAcc{
    margin:2vh auto auto;
    width: 100%;
    height: fit-content;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: "Arial Black",sans-serif;
    font-size: 1.3vw;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    cursor: pointer;
    color: #bbb;
}
.saveBotAcc:hover{
    background-color: rgba(0,0,0,0.4);
}
.saveBotAcc:active{
    background-color: rgba(0,0,0,0.6);
    color: deepskyblue;
}
.passCont{
    margin: 1px auto auto;
    background-color: rgba(0,0,0,0.3);
    width: 90%;
    height: 5vh;
}
.passCont:hover{
    border:solid thin deepskyblue;
}
.editPass{
    border-collapse: separate;
    border: solid 1px #555;
    width: 90%;
    margin:2vh auto auto;
    height: 10vh;
    border-spacing: 0 1px;
}
.editPass td{
    background-color: rgba(0,0,0,0.3);
}
